In [1]:
import IO
import pandas as pd

/Users/juliankraus/Library/CloudStorage/OneDrive-Personal/Uni/Languages/Code/pythonProject/.venv/lib/python3.9/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

In [4]:
type = "Meniskus"
bef = IO.load("./data/" + type + "_BEF.xls")
an = IO.load("./data/" + type + "_ANA.xls")
print(an.shape[0])
print(bef.shape[0]) 
an.head()

199
188

,Datum,Text,Unnamed: 2,Karteityp,Patientid,Geschlecht
0,NaT,NaN,NaN,NaN,NaN,NaN
1,2022-04-22 12:17:36,"Schmerzen werden besser, geht heute das dritte...",NaN,ANA,113302.0,männlich
2,2024-03-27 11:15:38,Am 02.03. beim Trampolinspringen Distorsionstr...,NaN,ANA,409850.0,männlich
3,2014-09-08 14:47:22,"wv mit aktuellem MRT. Beugung besser, Streckun...",NaN,ANA,76793.0,männlich
4,2022-10-05 12:43:53,Patient berichtet er habe zwischenzeitlich ern...,NaN,ANA,303031.0,männlich

In [5]:

ids_df1 = set(bef['Patientid'])
ids_df2 = set(an['Patientid'])
if ids_df1 == ids_df2:
    print("Both dataframes have the same IDs.")
else:
    print("The IDs do not match.")
    missing_in_df1 = ids_df2 - ids_df1
    missing_in_df2 = ids_df1 - ids_df2
    print(f"IDs in df2 not in df1: {missing_in_df1}")
    print(f"IDs in df1 not in df2: {missing_in_df2}")
print(an.shape[0])
print(bef.shape[0]) 
an.head()

The IDs do not match.
IDs in df2 not in df1: {nan}
IDs in df1 not in df2: {nan}
199
188

,Datum,Text,Unnamed: 2,Karteityp,Patientid,Geschlecht
0,NaT,NaN,NaN,NaN,NaN,NaN
1,2022-04-22 12:17:36,"Schmerzen werden besser, geht heute das dritte...",NaN,ANA,113302.0,männlich
2,2024-03-27 11:15:38,Am 02.03. beim Trampolinspringen Distorsionstr...,NaN,ANA,409850.0,männlich
3,2014-09-08 14:47:22,"wv mit aktuellem MRT. Beugung besser, Streckun...",NaN,ANA,76793.0,männlich
4,2022-10-05 12:43:53,Patient berichtet er habe zwischenzeitlich ern...,NaN,ANA,303031.0,männlich

In [6]:
men = pd.merge(bef, an, left_index=True, right_index=True)
print(men.shape[0])

188

In [7]:
men["Diagnose"] = type
men.head()

,Datum_x,Text_x,Unnamed: 2_x,Karteityp_x,Patientid_x,Geschlecht_x,Datum_y,Text_y,Unnamed: 2_y,Karteityp_y,Patientid_y,Geschlecht_y,Diagnose
0,NaT,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,Meniskus
1,2017-01-13 12:11:06,"li Knie: diskr. Erguss, kein DS med. GS, kein ...",NaN,BEF,89078.0,männlich,2022-04-22 12:17:36,"Schmerzen werden besser, geht heute das dritte...",NaN,ANA,113302.0,männlich,Meniskus
2,2016-04-27 11:56:03,"Re. Knie: deutlicher Erguss, 0-5-110, reizlose...",NaN,BEF,76793.0,männlich,2024-03-27 11:15:38,Am 02.03. beim Trampolinspringen Distorsionstr...,NaN,ANA,409850.0,männlich,Meniskus
3,2024-03-27 11:18:25,"Linkes Kniegelenk: Extension/Flexion 0/3/100°,...",NaN,BEF,409850.0,männlich,2014-09-08 14:47:22,"wv mit aktuellem MRT. Beugung besser, Streckun...",NaN,ANA,76793.0,männlich,Meniskus
4,2017-07-20 09:40:07,"linke Schulter: GhAbd. 90°, Aro 60°, Iro LWK 1...",NaN,BEF,76793.0,männlich,2022-10-05 12:43:53,Patient berichtet er habe zwischenzeitlich ern...,NaN,ANA,303031.0,männlich,Meniskus

In [8]:
men.set_index("Patientid_x", inplace=True)
men.rename(columns={"Text_x": "Text_Bef", "Text_y": "Text_ANA", "Geschlecht_x": "Geschlecht"}, inplace=True)
men = men[['Text_Bef', 'Text_ANA', 'Geschlecht', 'Diagnose']]
men.dropna()

,Text_Bef,Text_ANA,Geschlecht,Diagnose
Patientid_x,,,,
89078.0,"li Knie: diskr. Erguss, kein DS med. GS, kein ...","Schmerzen werden besser, geht heute das dritte...",männlich,Meniskus
76793.0,"Re. Knie: deutlicher Erguss, 0-5-110, reizlose...",Am 02.03. beim Trampolinspringen Distorsionstr...,männlich,Meniskus
409850.0,"Linkes Kniegelenk: Extension/Flexion 0/3/100°,...","wv mit aktuellem MRT. Beugung besser, Streckun...",männlich,Meniskus
76793.0,"linke Schulter: GhAbd. 90°, Aro 60°, Iro LWK 1...",Patient berichtet er habe zwischenzeitlich ern...,männlich,Meniskus
91686.0,"re.Knie: ROM 0-0-140, Lachman neg. fest, DS me...","Belastungserprobung mit Rennrad und Laufen, bi...",männlich,Meniskus
...,...,...,...,...
306215.0,Beinachse varisch 2-3 QF Linkes Kniegelenk: Ex...,8 Wochen nach IM-Teilresektion + MFX Trochlea,männlich,Meniskus
107648.0,rechtes Knie:,"3 Monate nach ventraler Arthrolyse, Beugung un...",weiblich,Meniskus
113302.0,"Links Kniegelenk: Reizlose Wundverhältnisse, E...","Persistierende Beschwerden, linkes Knie eher f...",männlich,Meniskus
76793.0,li Knie: idem,Vor 3 Monaten beim Fußball Hyperextensionrtaum...,männlich,Meniskus
305728.0,"Gangbild unter Vollbelastung flüssig, rechtes...","3 Mo pop., noch intermittierend Schwellneigung...",männlich,Meniskus

In [9]:
men.to_excel("../data/" + type + ".xlsx", engine='xlsxwriter')