In [3]:
import pandas as pd
all_products = pd.read_csv('products_data.csv')
grouped_products = all_products.groupby('symbol').agg({
    'type': 'first',  # Assuming all types are the same for the same symbol
    'localSymbol': 'first',  # Taking the first localSymbol as an example
    'description': 'first',  # Assuming all descriptions are the same for the same symbol
    'conid': 'first',  # Assuming the first conid, adjust as necessary
    'underConid': 'first',  # Assuming the first underConid, adjust as necessary
    'isin': 'first',  # Taking the first ISIN
    'cusip': 'first',  # Taking the first CUSIP
    'currency': 'first',  # Assuming all currencies are the same
    'country': 'first',  # Assuming all countries are the same
    'isPrimeExchId': 'first',  # Taking the first isPrimeExchId
    'isNewPdt': 'first',  # Assuming all isNewPdt flags are the same
    'assocEntityId': 'first',  # Assuming the first assocEntityId
    'exchangeId': lambda x: sorted(list(set(x)))  # Collecting unique and sorted exchangeIds into a list
    }).reset_index()

# Save the grouped DataFrame to a CSV file
grouped_products.to_csv('grouped_products_data.csv', index=False)
print("Grouped product data has been fetched and saved to 'grouped_products_data.csv'.")

Grouped product data has been fetched and saved to 'grouped_products_data.csv'.

In [5]:
grouped_products.head(10)

,symbol,type,localSymbol,description,conid,underConid,isin,cusip,currency,country,isPrimeExchId,isNewPdt,assocEntityId,exchangeId
0,A,OPT,A,AGILENT TECHNOLOGIES INC,NaN,1715006,NaN,NaN,USD,US,NaN,F,e1408980,"[AMEX, BATS, BOX, CBOE, CBOE2, EDGX, EMERALD, ..."
1,AA,OPT,AA,ALCOA CORP,NaN,251962528,NaN,NaN,USD,US,NaN,F,e3231100,"[AMEX, BATS, BOX, CBOE, CBOE2, EDGX, EMERALD, ..."
2,AADI,OPT,AADI,AADI BIOSCIENCE INC,NaN,511263210,NaN,NaN,USD,US,NaN,F,e3261227,"[AMEX, BOX, EMERALD, GEMINI, ISE, MEMX, MERCUR..."
3,AAL,OPT,AAL,AMERICAN AIRLINES GROUP INC,NaN,139673266,NaN,NaN,USD,US,NaN,F,e1417021,"[AMEX, BATS, BOX, CBOE, CBOE2, EDGX, EMERALD, ..."
4,AAN,OPT,AAN,AARON'S CO INC/THE,NaN,455975127,NaN,NaN,USD,US,NaN,F,e4087059,"[AMEX, BATS, BOX, CBOE, CBOE2, EDGX, EMERALD, ..."
5,AAOI,OPT,AAOI,APPLIED OPTOELECTRONICS INC,NaN,135423662,NaN,NaN,USD,US,NaN,F,e1682160,"[AMEX, BATS, BOX, CBOE, CBOE2, EDGX, EMERALD, ..."
6,AAON,OPT,AAON,AAON INC,NaN,265595,NaN,NaN,USD,US,NaN,F,e1393663,"[AMEX, BATS, BOX, CBOE, CBOE2, EDGX, EMERALD, ..."
7,AAP,OPT,AAP,ADVANCE AUTO PARTS INC,NaN,4027,NaN,NaN,USD,US,NaN,F,e1434503,"[AMEX, BATS, BOX, CBOE, CBOE2, EDGX, EMERALD, ..."
8,AAPB,OPT,AAPB,GRANITESHARES 2X LONG AAPL D,NaN,578561458,NaN,NaN,USD,US,NaN,F,e4888301,"[BATS, CBOE, CBOE2, EDGX, NASDAQBX, NASDAQOM]"
9,AAPD,OPT,AAPD,DIREXION DAILY AAPL BEAR 1X,NaN,578561422,NaN,NaN,USD,US,NaN,F,e4888295,"[BATS, CBOE, CBOE2, EDGX, NASDAQBX, NASDAQOM]"

In [6]:
filtered_df = all_products[all_products['symbol'] == 'AAON']
filtered_df

,type,symbol,exchangeId,localSymbol,description,conid,underConid,isin,cusip,currency,country,isPrimeExchId,isNewPdt,assocEntityId
98,OPT,AAON,AMEX,AAON,AAON INC,NaN,265595,NaN,NaN,USD,US,NaN,F,e1393663
99,OPT,AAON,BATS,AAON,AAON INC,NaN,265595,NaN,NaN,USD,US,NaN,F,e1393663
100,OPT,AAON,BOX,AAON,AAON INC,NaN,265595,NaN,NaN,USD,US,NaN,F,e1393663
101,OPT,AAON,CBOE,AAON,AAON INC,NaN,265595,NaN,NaN,USD,US,NaN,F,e1393663
102,OPT,AAON,CBOE2,AAON,AAON INC,NaN,265595,NaN,NaN,USD,US,NaN,F,e1393663
103,OPT,AAON,EDGX,AAON,AAON INC,NaN,265595,NaN,NaN,USD,US,NaN,F,e1393663
104,OPT,AAON,EMERALD,AAON,AAON INC,NaN,265595,NaN,NaN,USD,US,NaN,F,e1393663
105,OPT,AAON,ISE,AAON,AAON INC,NaN,265595,NaN,NaN,USD,US,NaN,F,e1393663
106,OPT,AAON,MERCURY,AAON,AAON INC,NaN,265595,NaN,NaN,USD,US,NaN,F,e1393663
107,OPT,AAON,MIAX,AAON,AAON INC,NaN,265595,NaN,NaN,USD,US,NaN,F,e1393663
108,OPT,AAON,NASDAQOM,AAON,AAON INC,NaN,265595,NaN,NaN,USD,US,NaN,F,e1393663
109,OPT,AAON,PEARL,AAON,AAON INC,NaN,265595,NaN,NaN,USD,US,NaN,F,e1393663
110,OPT,AAON,PHLX,AAON,AAON INC,NaN,265595,NaN,NaN,USD,US,NaN,F,e1393663